
<div class="card">
  <div class="card-body">
    <h2>1234</h2>
  </div>
</div>

<div class="form-group">
  <label>Número de columnas</label>
  <input type="number" min="1" max="4" class="form-control" [(ngModel)]="columns"/>
</div>

<hr/>

<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>One</a>
    <ng-template ngbNavContent>
      <app-layout-one [cards]="cards" [columns]="columns"></app-layout-one>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Two</a>
    <ng-template ngbNavContent>
      <app-layout-two [cards]="cards" [columns]="columns"></app-layout-two>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Three</a>
    <ng-template ngbNavContent>
      <app-layout-three [cards]="cards" [columns]="columns"></app-layout-three>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
